/* Load fonts styles */
@font-face {
  font-family: 'SevenOneEight-ExtraBold';
  src: url(../fonts/SevenOneEight-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Black';
  src: url(../fonts/SevenOneEight-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Book';
  font-style:normal;
  src: url(../fonts/SevenOneEight-Book.ttf);
}
@font-face {
  font-family: 'SevenOneEight-Medium';
  src: url(../fonts/SevenOneEight-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Light';
  src: url(../fonts/SevenOneEight-Light.ttf) format('truetype');
}

/* Apply app css */
body {
  background-color: #efefef;
  margin-left: 70px;
  margin-right: 70px;
}
#app {
  font-family: "SevenOneEight-Median";
}
#header-title {
  font-family: "SevenOneEight-Light";
  font-size: 30px;
  color: #ed3323
}
#header-subtitle {
  margin: 1px;
  font-size: 26px;
}
#nav-dash {
  width: 130px;
  height: 4px;
}
#filter-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -25px;
}
#btn-destinations {
  height: 38px;
}

/* Display on mobile screen */
@media screen and (max-width: 880px) {
  body {
    margin-left: 5px;
    margin-right: 5px;
  }
  #header-title {
    font-size: 18px;
  }
  #header-subtitle {
    font-size: 16px;
  }
  #nav-dash {
    width: 80px;
    height: 3px;
  }
  #filter-container {
    margin-top: -8px;
    margin-bottom: -40px;
  }
  #btn-destinations {
    width: 125px;
  }
}
