/* Load fonts styles */
@font-face {
  font-family: 'SevenOneEight-ExtraBold';
  src: url(../fonts/SevenOneEight-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Black';
  src: url(../fonts/SevenOneEight-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Book';
  font-style:normal;
  src: url(../fonts/SevenOneEight-Book.ttf);
}
@font-face {
  font-family: 'SevenOneEight-Medium';
  src: url(../fonts/SevenOneEight-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'SevenOneEight-Light';
  src: url(../fonts/SevenOneEight-Light.ttf) format('truetype');
}

/* Apply css */
body {
  background-color: #efefef;
  margin-left: 7%;
  margin-right: 7%;
}
#app {
  font-family: "SevenOneEight-Light", "SevenOneEight-Medium", "SevenOneEight-Black", "SevenOneEight-Book", "SevenOneEight-ExtraBold";
}
#header {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
#header-title {
  font-family: "SevenOneEight-Medium";
  font-size: 30px;
  color: #ed3323
}
#header-subtitle {
  font-family: "SevenOneEight-Medium";
  font-size: 26px;
}
#nav-dash {
  width: 130px;
  height: 4px;
}
.display-flex {
  display: flex
}
.text-center {
  text-align: center; 
}
#filter {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -25px;
}
#filter-icon {
  margin-top: 6px;
  height: 38px;
  cursor: pointer;
}
#btn-destinations {
  height: 38px;
}
#progress-circular {
  padding-bottom: 180px;
  color: #ed3323;
}
#destinations-list {
  margin-bottom: 30px;
  margin-left: -11px;
  margin-right: -11px
}
#upto {
  font-family: "SevenOneEight-Black";
  text-transform: uppercase;
  color: white;
}
#destination-place {
  position: absolute;
  bottom: 0;
  left: 10px;
}
#destination-upto {
  position: absolute;
  bottom: 0;
  right: 10px;
}
#rating {
  margin-top: -5px;
  margin-bottom: -2px;
}
#country-place {
  font-family: "SevenOneEight-Book";
}
#rating-label {
  font-size: 12px;
  margin-right: 3px;
}
#tags {
  text-transform: uppercase;
  font-size: 11px;
}
#tags-premium {
  margin-right: 5px;
  background: #000000;
  color: white;
  padding: 2px;
}
#tags-option {
  background: #bd9c6a;
  color: white;
  padding: 2px;
}
#bloc-inscription {
  margin-bottom: 130px;
}
#benefit-container {
  text-transform: uppercase;
  text-align: center;
}
#benefit {
  margin-bottom: 2px;
}
#member {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 13px;
  background-color: #ed3323;
  color: white;
  text-align: center;
}
#member-subtitle {
  font-size: 13px;
  margin-top: 10px;
}
#steps {
  text-transform: uppercase; 
  font-size: 15px
}
.step-number {
  color: #ed3323;
  font-size: 40px;
  margin-right: 10px;
}
.step-info {
  color: #ed3323;
  font-family: "SevenOneEight-Black";
}
#btn-inscription {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 36px;
}
#footer {
  z-index: 99;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-left: 7%;
  margin-right: 7%;
}
.footer-subtitle {
  margin-top:5px;
}
.black-red {
  margin-bottom: 15px;
}

/* Display on mobile screen */
@media screen and (max-width: 880px) {
  body {
    margin-left: 2%;
    margin-right: 2%;
  }
  #header-title {
    font-size: 18px;
  }
  #header-subtitle {
    font-size: 16px;
  }
  #nav-dash {
    width: 80px;
    height: 3px;
  }
  #filter-container {
    margin-top: -8px;
    margin-bottom: -40px;
  }
  #btn-destinations {
    width: 125px;
  }
  #footer {
    margin-left: 2%;
    margin-right: 2%;
  }
  #footer-title {
    font-size: 14px;
  }
  #footer-subtitle {
    font-size: 13px;
  }
  .black-red {
    width: 70px;
  }
}
